@import "settings/variables/_color.scss";
// TODO テーブルのデザイン要調整

.post-view{
  // border-left: 1px solid $base-color;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  .path{
    a{
      color: $gley-1;
    }
  }
  .title{
    margin: 0px;
  }

  .post-data{
    .updated_at{

    }
    .updated_user{
      font-size: 1.4em;
    }
  }

  .post-body{
    height:750px;
    overflow:auto;
    h1{
      font-size: 30px;
    }

    table{
      border-collapse: collapse;
      th{
        width: 25%;
        padding: 6px;
        text-align: left;
        vertical-align: top;
        color: #333;
        background-color: #eee;
        border: 1px solid #b9b9b9;
      }
      td{
        padding: 6px;
        background-color: #fff;
        border: 1px solid #b9b9b9;
      }
    }
  }

}
