@import "settings/variables/_color.scss";

.tree-list{
  background-color : $black;
  padding : 0px;
}

.tree-ul{
  -webkit-padding-start: 0px;
}
.treeview{
  margin-bottom: 0px;
  padding : 0px;
}

.list-group-item.tree-li.active{
  background-color : $black /1.5
}
.list-group-item.tree-li{
  outline: 0px;
  background-color : $black;
  border-color: $black / 1.2;
  color: $white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-left: 0px;
  border-radius: 0px;
}
