.is-inline-blocks{
  font-size: 0;
}
.is-display-block{
  display: block;
}
.is-display-none{
  display: none;
}

.is-align-center{
  text-align: center;
}

.is-left{
  left : 0;
}

.is-right{
  float: right;
}


