@import "settings/variables/_color.scss";

.is-inline-blocks{
  font-size: 0;
}
.is-display-block{
  display: block;
}
.is-display-none{
  display: none;
}

.is-align-center{
  text-align: center;
}

.is-float-left{
  float: left;
}

.is-left{
  left : 0;
}

.is-right{
  float: right;
}


a.click-show{
  color : $black;
}

a.click-edit{
  color: $base-color;
}
a.click-destroy{
  color: $black;
}

