.ml10{
  margin-left: 10px;
}
.ml20{
  margin-left: 20px;
}
.ml30{
  margin-left: 30px;
}
.ml40{
  margin-left: 40px;
}
.ml50{
  margin-left: 50px;
}
.ml60{
  margin-left: 60px;
}
.ml70{
  margin-left: 70px;
}
