<div class="row" ng-controller="MainCtrl" ng-init="init()">
  <div class="col-md-2 col-sm-4 tree-list">
    <ul class="treeview" ng-repeat="item in treePosts">
      <tree></tree>
    </ul>
  </div>
  <div class="col-md-8 col-sm-8">
    <post-view></post-view>
  </div>
  <div class="col-md-2 col-sm-12 recent-list">
    <ul class="list-group">
      <div class="resent-post-header">
        <h4>
          <i class="fa fa-file-text-o"></i>
          最近の投稿
        </h4>
      </div>
      <div class="resent-post-list">
      <li class="list-group-item resent-post-list" ng-repeat="post in resent_posts">
        <span class="path">{{post.path}}</span>
        <h4 class="title">
          <a ng-click="preview(_, post)">
            {{post.path.split("/")[post.path.split("/").length -1]}}
          </a>
        </h4>
        <p class="updated-user-name">
          {{post.updated_user.name}}
        </p>
      </li>
      </div>
    </ul>
  </div>
</div>
