<div class="row" ng-controller="MainCtrl" ng-init="init()">
  <div class="col-md-3 tree-list">
    <ul class="treeview" ng-repeat="item in treePosts">
      <tree></tree>
    </ul>
  </div>
  <div class="col-md-6">
    <post-view></post-view>
  </div>
  <div class="col-md-2">
    <div id="recent-list">
      <table class="table table-hover">
        <tr>
          <th>最近の投稿</th>
          <th></th>
        </tr>
        <tr ng-repeat="post in resent_posts">
          <td class="title" ng-click="preview(_, post)">
            {{post.path}}
          </td>
          <td class="updated-user">{{post.updated_user.name}}</td>
          <td class="updated-at">{{post.to_json_updated_at}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
