<div class="row" ng-controller="PostsCtrl" ng-init="init()">
  <div class="col-md-6">
    <table class="table">
      <tr ng-repeat="post in posts">
        <td>
            <span ng-click="preview(post)">{{post.path}}</span>
          <a ng-href="#/posts/{{post.id}}">
            {{post.created_user.name}}
          </a>
          <button class="btn btn-danger" ng-click="postDelete(post)">
            削除
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h1>{{post.path}}</h1>
    <div id="preview" ng-bind-html="previewHtml">
    </div>
  </div>
</div>
