<div class="row" ng-controller="PostsCtrl" ng-init="init()">
  <div class="col-md-4">
    <table class="table">
      <tr ng-repeat="post in posts">
        <td ng-click="preview(post)">
          <span>{{post.path}}</span>
          {{post.created_user.name}}
          <span ng-show="currentUser.id == post.updated_user.id">
            <a ng-href="#/posts/{{post.id}}" class="btn btn-success">
              <i class="fa fa-pencil fa-lg"></i>
            </a>
            <button class="btn btn-danger" ng-click="postDelete(post)">
              <i class="fa fa-trash fa-lg"></i>
            </button>
          </span>
          {{post.aasm_state}}
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-8">
    <post-view></post-view>
  </div>
</div>
