<div class="row" ng-init="init()">
  <div class="col-md-6 col-sm-5 editer">
    <form ng-submit="wipTemplate(template)" class="post-form">
      <div class="form-group">
        <div class="form-header">
          <h1>テンプレート編集</h1>
          <input id="path" type="text" placeholder="Title" class="form-control" ng-model="template.path" >
        </div>
        <textarea class="form-control body-area tabIndent" id="textarea" name="textarea"
          ng-model="template.body" ng-change="changeBody()" placeholder="本文">
          {{template.body}}
        </textarea>
        <div class="form-bottom">
          <div class='btn-group'>
            <span ng-show="wip">
              Succses WIP!
            </span>
            <button id="button1id" name="button1id" class="btn btn-success" type="submit">Save Template</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6 col-sm-7">
    <h1 class="gray-path">{{template.path}}</h1>
    <div id="preview" class="post-view" ng-bind-html="previewHtml">
    </div>
  </div>
</div>
