<li class="list-group-item" ng-click="preview($event, item.post)">
  <span class="badge">{{item.children.length}}</span>
  <a class="tree-li">{{item.name}}</a>
  <ul style="display: none;" ng-repeat="item in item.children">
    <li class="list-group-item" ng-click="preview($event, item.post)">
      <span class="badge">{{item.children.length}}</span>
      <a class="tree-li">{{item.name}}</a>
      <ul style="display: none;" ng-repeat="item in item.children">
        <li class="list-group-item" ng-click="preview($event, item.post)">
          <span class="badge">{{item.children.length}}</span>
          <a class="tree-li">{{item.name}}</a>
          <ul style="display: none;" ng-repeat="item in item.children">
            <li class="list-group-item" ng-click="preview($event, item.post)">
              <span class="badge">{{item.children.length}}</span>
              <a class="tree-li">{{item.name}}</a>
              <ul style="display: none;" ng-repeat="item in item.children">
                <li class="list-group-item" ng-click="preview($event, item.post)">
                  <span class="badge">{{item.children.length}}</span>
                  <a class="tree-li">{{item.name}}</a>
                  <ul style="display: none;" ng-repeat="item in item.children">
                    <li class="list-group-item" ng-click="preview($event, item.post)">
                      <span class="badge">{{item.children.length}}</span>
                      <a class="tree-li">{{item.name}}</a>
                      <ul style="display: none;" ng-repeat="item in item.children">
                        <li class="list-group-item" ng-click="preview($event, item.post)">
                          <span class="badge">{{item.children.length}}</span>
                          <a class="tree-li">{{item.name}}</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</li>

