@import "common/_color.scss";
.container{
  margin-left: 0;
  margin-right: 0;
  width: auto;
}

a:hover{/*マウスをのせたとき*/
  color:$sub-color;
  text-decoration:none;
  cursor:pointer;
}

a.click-edit{
  color: $base-color;
}
a.click-destroy{
  color: $black;
}




html{height:100%}
body{height:94%}
div.container{height:100%}
div.row.row-content{
  height: 100%;
  div.main-content{
    height: 100%;
    div.ng-scope{
      height: 100%;
      div.tree-list{
        height : 100%;
      }
      div.post-editer{
        height : 100%;
        form.post-form{
          height : 100%;
          .form-group{
            height : 100%;
            .form-header{
              height : 10%;
            }
            textarea.post-body-area{
              resize: none;
              height : 80%;
            }
            .form-bottom{
              height : 10%;
            }
          }
        }
      }
    }
  }
}
td.title{
  font-size : 1em;
}
td.updated-user{
  font-size : 0.5em;
}

td.updated-at{
  font-size : 0.5em;
}


