.container{
  margin-left: 0;
  margin-right: 0;
  width: auto;
}



html{height:100%}
body{height:100%}
div.container{height:80%}
div.row.row-content{
  height: 100%;
  div.main-content{
    height: 100%;
    div.ng-scope{
      height: 100%;
      div.tree-list{
        height : 100%;
      }
      div.post-editer{
        height : 100%;
        form.post-form{
          height : 100%;
          .form-group{
            height : 100%;
            .form-header{
              height : 10%;
            }
            textarea.post-body-area{
              resize: none;
              height : 80%;
            }
            .form-bottom{
              height : 10%;
            }
          }
        }
      }
    }
  }
}

