@import "common/_color.scss";

form.post-form{
  div{
    margin-top: 4px;
    span{
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border-right: 0px;
      background-color: $white;
    }
    input{
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-left: 0px;
      background-color: $white;
    }
    input:focus{
      border-color: #ccc;
    }
  }
  div.action-button{
    text-align : right;
    button.submit{
      margin-right: 10px;
    }
  }
}
table.table-posts{
  overflow: auto;
  th.posts{
    border-top: 0px;
  }

  margin-top: 4px;
  td:focus{
    outline : #aaa;
  }
}



