@import "common/_color.scss";

form.post-form{
  div{
    span{
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border-right: 0px;
      background-color: $white;
    }
    input{
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-left: 0px;
      background-color: $white;
    }
  }
}
