@import "common/_color.scss";
// TODO テーブルのデザイン要調整

.post-view{
  .path{
    color: #aaa;
  }
  .title{
    margin: 0px;
  }


  table{
    border-collapse: collapse;
    th{
      width: 25%;
      padding: 6px;
      text-align: left;
      vertical-align: top;
      color: #333;
      background-color: #eee;
      border: 1px solid #b9b9b9;
    }
    td{
      padding: 6px;
      background-color: #fff;
      border: 1px solid #b9b9b9;
    }
  }

}
