@import "common/_color.scss";

div.sidebar{
  padding : 0px;
  height : 100%;
  .nav-sidebar{
    height : 100%;
    background-color : $white;
    li{
      background-color : $white;
      a{
        color : $sub-color;
        margin : 0 auto;
        padding : 0px;
        text-align : center;
      }
    }
  }
}

