.tree-list{
  background-color : #555555;
  padding : 0px;
}

.treeview{
  margin-bottom: 0px;
  padding : 0px;
}

.list-group-item.tree-li{
  background-color : #eeeeee;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
