<div class="post-view">
  <h4 class="path">
    <a ng-href="/" ng-repeat='dir in post.path.split("/")'>
    /{{dir}}
    </a>
  </h4>
  <h1 class="title">
    {{post.path.split("/")[post.path.split("/").length -1]}}
    <span ng-show="post">
      <a ng-href="/posts/{{post.id}}/edit" class="click click-edit">
        <i class="fa fa-pencil fa-lg"></i>
      </a>
    </span>
  </h1>
  <div class="post-data">
    <span class="updated_at">
      {{post.to_json_updated_at}}
    </span>
    <span class="updated_user is-right">
      {{post.updated_user.name}}
    </span>
  </div>
  <div id="preview" style="height:800px;overflow:auto;" ng-bind-html="previewHtml">
  </div>
</div>
