h1 編集処理 
= bootstrap_form_for [:admin, @user] do |f|
  hr.form-group
  = f.text_field :name
  = f.email_field :email
  = f.password_field :password
  = f.password_field :password_again
  hr.form-group
  = f.number_field :joinyear
  = f.select :status, User.statuses_i18n.to_a.map(&:reverse!)
  = f.select :role, User.roles_i18n.to_a.map(&:reverse!)
  = f.submit "登録する", class: "btn btn-primary"
  = link_to "戻る", admin_users_path, class: "btn btn-default"
