<!DOCTYPE html>
<html>
<head>
  <title>Note</title>
  <base href="/">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body ng-app="notefrontApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="container">
      <div class="row row-content">
        <div class="sidebar">
          <nav class="nav-sidebar">
            <ul class="nav">
                <li class="active">
                  <a ng-href="/post">
                    <i class="fa fa-pencil fa-3x"></i>
                    <br>
                    New Post
                  </a>
                </li>
                <li>
                  <a ng-href="/">
                    <i class="fa fa-home fa-3x"></i>
                    <br>
                    HOME
                  </a>
                </li>
                <li>
                  <a href="/posts">
                    <i class="fa fa-file-text-o fa-3x"></i>
                    <br>
                    Posts
                  </a>
                </li>
                <li>
                  <a href="/templates">
                    <i class="fa fa-file-code-o fa-3x"></i>
                    <span>Templates<span>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-tags fa-3x"></i>
                    <br>
                    Tags
                  </a>
                </li>
                <li>
                  <a href="/logout">
                    <i class="fa fa-sign-out fa-3x"></i>
                    <span>Logout</span>
                  </a>
                </li>
            </ul>
          </nav>
        </div>
        <div class="main-content">
          <%= yield %>
        </div>
      </div>
    </div>

    <!--
    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>
    -->

    <script src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <!-- endbuild -->


</body>
</html>
